<app-page-title><h4>Hotels</h4></app-page-title>

<div class="flex-container">
  <mat-form-field class="filter" floatLabel="never">
    <mat-label>Search by name</mat-label>
    <input matInput [formControl]="nameFilter">
  </mat-form-field>
  <mat-form-field class="filter" floatLabel="never">
    <mat-label>Search by city</mat-label>
    <input matInput [formControl]="cityFilter">
  </mat-form-field>
  <mat-form-field class="filter" floatLabel="never">
    <mat-label>Search by inspection score</mat-label>
    <input matInput [formControl]="insScoreFilter">
  </mat-form-field>

  <mat-form-field class="filter">
    <mat-label>Search by labels</mat-label>
    <mat-select matNativeControl [formControl]="labelsFilter" multiple>
      <mat-option value="ECONOMY">Economy</mat-option>
      <mat-option value="SUPERIOR">Superior</mat-option>
      <mat-option value="BOUTIQUE">Boutique</mat-option>
      <mat-option value="ADULTS_ONLY">Adults only</mat-option>
      <mat-option value="ECO_FRIENDLY">Eco-friendly</mat-option>
      <mat-option value="PARTY">Party</mat-option>
      <mat-option value="SHOPPING">Shopping</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter">
    <mat-label>Search by official rating</mat-label>
    <mat-select matNativeControl [formControl]="officialRatingFilter">
      <mat-option value="ONE_STAR">1 &#9733;</mat-option>
      <mat-option value="TWO_STAR">2 &#9733;</mat-option>
      <mat-option value="THREE_STAR">3 &#9733;</mat-option>
      <mat-option value="FOUR_STAR">4 &#9733;</mat-option>
      <mat-option value="FIVE_STAR">5 &#9733;</mat-option>
      <mat-option value="HV_1">HV 1</mat-option>
      <mat-option value="HV_2">HV 2</mat-option>
      <mat-option value="APARTMENTS">Apartments</mat-option>
      <mat-option value="NO_RATING">No Rating</mat-option>
      <mat-option value=""></mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button
          type="button"
          (click)="resetFilters()">
    Reset
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td matt-cell *matCellDef="let index = index">{{index + 1}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}} {{element.officialRating | offratingpipe}}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
    <td mat-cell *matCellDef="let element">{{element.city.title | titlecase}} ({{element.city.country.title}})</td>
  </ng-container>

  <ng-container matColumnDef="inspectionScore">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
    <td mat-cell *matCellDef="let element">{{element.inspectionScore}} / 10</td>
  </ng-container>

  <ng-container matColumnDef="labels">
    <th mat-header-cell *matHeaderCellDef>Labels</th>
    <td mat-cell *matCellDef="let element">{{element.labels | labelspipe}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="openDialog()" aria-label="Add Hotel">
        <mat-icon>add_circle</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" [routerLink]="['/hotels', element.id]" aria-label="View">
        <mat-icon>pageview</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
