app-page-title {
  text-align: center;
  color: rgba(122,29,166,1);
}

h4 {
  margin: 0px;
}

table td:first-child {
  text-align: center;
  color: white;
}

mat-paginator {
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

table {
  background: rgba(66,66,66,0.5);
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

mat-form-field {
  background-color: rgba(122,29,166,0.6);
  color: white;
  padding: 0px 5px;
  flex: 1;
}

.flex-container {
  margin: auto;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
