app-page-title {
  text-align: center;
}

table td {
  text-align: center;
  color: white;
}

table th {
  text-align: center;
}

table {
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

h4 {
  text-align: center;
}

.remarks {
  text-align: justify;
}
