app-page-title {
  text-align: center;
  color: rgba(122,29,166,1);
}

table td {
  text-align: center;
  color: white;
}

table th {
  text-align: center;
}

table {
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

h4 {
  text-align: center;
}

.remarks {
  text-align: justify;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

.back {
  text-align: center;
}

.back button {
  margin-top: 15px;
  margin-bottom: 30px;
}
