<h3 mat-dialog-title>Hotel: {{ data.name }}</h3>

<form [formGroup]="form" mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      required
      autocomplete="off"
      formControlName="name"
    />
    <mat-error *ngIf="name.errors?.minlength">
      At least 2 characters are required
    </mat-error>
    <mat-error *ngIf="name.errors?.required">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Official Rating</mat-label>
    <input
      matInput
      required
      formControlName="officialRating"
    />
    <mat-error *ngIf="officialRating.errors?.required">
      Rating is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>City</mat-label>
    <input type="text"
           matInput
           formControlName="cityGroup"
           required
           [matAutocomplete]="autoGroup">
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup *ngFor="let group of cityGroupOptions | async" [label]="group.country">
        <mat-option *ngFor="let city of group.cities" [value]="city">
          {{city}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Inspection Score</mat-label>
    <input
      matInput
      required
      formControlName="inspectionScore"
    />
    <mat-error *ngIf="inspectionScore.errors?.required">
      Inspection Score is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Food Quality</mat-label>
    <input
      matInput
      formControlName="foodQuality"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Territory Size</mat-label>
    <input
      matInput
      formControlName="territorySize"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Water Slides</mat-label>
    <input
      matInput
      required
      formControlName="waterSlides"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>SPA</mat-label>
    <input
      matInput
      required
      formControlName="spa"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Distance to Beach</mat-label>
    <input
      matInput
      formControlName="distanceToBeach"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Distance from Airport</mat-label>
    <input
      matInput
      formControlName="distanceFromAirport"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Remarks</mat-label>
    <input
      matInput
      formControlName="remarks"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rooms</mat-label>
    <input
      matInput
      formControlName="rooms"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Recommended To</mat-label>
    <input
      matInput
      formControlName="recommendedTos"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Labels</mat-label>
    <input
      matInput
      formControlName="labels"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cuisine Types</mat-label>
    <input
      matInput
      formControlName="cuisineTypes"
    />
  </mat-form-field>

</form>

<div mat-dialog-actions>
  <button mat-raised-button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">Save</button>
</div>

<div><p>Reference data:</p></div>
<div *ngIf="referenceData">{{referenceData}}</div>


<!--<div><p>Hotel ratings:</p></div>-->
<!--<div *ngIf="hotelRatings">{{hotelRatings.values()}}</div>-->
<!--<li *ngFor="let hotelRating of hotelRatings">-->
<!--  <b>{{hotelRating?.item}}</b>-->
<!--</li>-->
