app-page-title {
  text-align: center;
}

form {
  margin: auto;
  max-width: 950px;
  width: 100%;
  text-align: center;
}

mat-form-field {
  color: white;
}

button {
  background-color: black;
  color: white;
}

.remarks {
  margin: 0px;
  width: 100%;
}
