<h3 mat-dialog-title>Edit {{data.title}}</h3>

<form [formGroup]="form" mat-dialog-content>
  <mat-form-field>
    <mat-label>{{data.country.title}}</mat-label>
    <mat-select required [formControl]="country">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country.title}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="country.errors?.required">
      Country is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input type="text"
           matInput
           formControlName="title"
           required
    />
    <mat-error *ngIf="title.errors?.required">
      Title is required
    </mat-error>
    <mat-error *ngIf="title.errors?.minLength">
      Min. length: 2
    </mat-error>
    <mat-error *ngIf="title.errors?.maxLength">
      Max. length: 100
    </mat-error>
  </mat-form-field>
</form>

<div mat-dialog-actions class="center">
  <button mat-mini-fab color="warn" (click)="cancel()" aria-label="cancel"><mat-icon>close</mat-icon></button>
  <button mat-mini-fab color="accent" [disabled]="form.invalid" (click)="save()" aria-label="save"><mat-icon>save</mat-icon></button>
</div>
