.header {
  padding: 10px 30px;
}

button {
  background: darkgrey;
}

button:hover {
  color: white;
}

span {
  padding: 5px;
}

.bg {
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
}

.user {
  float: right;
}
