<div class="bg" style="background-image: url('./assets/background.jpg');">
<div class="header">

  <span>
    <button mat-icon-button color="primary" routerLink="home" aria-label="Home">
      <mat-icon>home</mat-icon>
    </button>
  </span>

  <span><button mat-button routerLink="hotels" *ngIf="isAuthenticated">Hotels</button></span>

  <span>
    <button mat-button color="primary" *ngIf="isAuthenticated" (click)="openDialog()">Add Hotel</button>
  </span>


  <span><button class="user" mat-icon-button color="primary" (click)="logout()" *ngIf="isAuthenticated" aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button></span>

  <span><button class="user" mat-button *ngIf="isAuthenticated">Logged in as: {{ user }}</button></span>

</div>
<hr>
<router-outlet></router-outlet>
</div>
