.header {
  padding: 10px 30px;
}

button {
  background: rgba(229, 228, 255, 0.2);
  margin-left: 5px;
  margin-right: 5px;
  color: rgba(122,29,166,1);
}

button:hover {
  color: white;
}

span {
  padding: 5px;
}

.bg {
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
}

.user {
  float: right;
}
