<app-page-title><h4>{{room?.roomType === 'CUSTOM' ? room?.type : room?.roomType | roomtypepipe}}</h4>
  <button mat-icon-button color="primary" (click)="openDialog(room)" aria-label="Edit">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="delete()" aria-label="Delete">
    <mat-icon>delete</mat-icon>
  </button>
</app-page-title>

<table *ngIf="room?.size != null || room?.roomCondition != null" class="mat-table">
  <tr class="mat-header-row">
    <th *ngIf="room?.size != null" class="mat-header-cell">Size</th>
    <th *ngIf="room?.roomCondition != null" class="mat-header-cell">Room Condition</th>
  </tr>
  <tr class="mat-row">
    <td *ngIf="room?.size != null" class="mat-cell">{{room?.size | sizepipe}}</td>
    <td *ngIf="room?.roomCondition != null" class="mat-cell">{{room?.roomCondition | roomconditionpipe}}</td>
  </tr>
</table>
<br>
<table *ngIf="room?.remarks" class="mat-table">
  <tr class="mat-header-row">
    <th class="mat-header-cell">Remarks</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><p class="remarks">{{room?.remarks}}</p></td>
  </tr>
</table>

<div class="back">
<button mat-mini-fab color="primary" [routerLink]="['/hotels/' + room.hotelId]" aria-label="Back">
  <mat-icon>keyboard_backspace
  </mat-icon>
</button>
</div>
