<app-page-title>{{room.roomType === 'CUSTOM' ? 'Custom room' : room.roomType}}</app-page-title>
<app-page-title *ngIf="room.roomType === 'CUSTOM'">{{room.type}}</app-page-title>

<table class="mat-table" >
  <tr class="mat-header-row">
    <th class="mat-header-cell">ID</th>
    <th class="mat-header-cell">Size</th>
    <th class="mat-header-cell">Room Condition</th>
    <th class="mat-header-cell">Remarks</th>
    <th class="mat-header-cell">Actions</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">{{room?.id}}</td>
    <td class="mat-cell">{{room?.size}}</td>
    <td class="mat-cell">{{room?.roomCondition}}</td>
    <td class="mat-cell">{{room?.remarks}}</td>
    <td class="mat-cell">
      <button mat-button (click)="openDialog(room)">
        Edit
      </button>
    </td>
  </tr>
</table>

<router-outlet></router-outlet>
