app-page-title {
  text-align: center;
  color: rgba(122,29,166,1);
}

h4 {
  margin: 0px;
  text-align: center;
}

table td {
  text-align: center;
  color: white;
}

table th {
  text-align: center;
}

table {
  background: rgba(0,0,0,0);
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

.remarks {
  text-align: justify;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

.back {
  text-align: center;
}

.back button {
  margin-top: 15px;
  margin-bottom: 30px;
}

.mat-header-row {
  background: rgba(122,29,166,0.8);
}

.mat-row {
  background: rgba(66,66,66,0.8);
}
