<app-page-title><h3>Rooms</h3></app-page-title>

<table mat-table [dataSource]="rooms" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td matt-cell *matCellDef="let index = index">{{index + 1}}</td>
  </ng-container>

  <ng-container matColumnDef="roomType">
    <th mat-header-cell *matHeaderCellDef>Room Type</th>
    <td mat-cell *matCellDef="let element">{{element.roomType === 'CUSTOM' ? (element.roomType | roomtypepipe) + ': ' + element.type : element.roomType | roomtypepipe}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="disabled" (click)="openDialog()" aria-label="Add Room">
        <mat-icon>add_circle</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" [routerLink]="['/rooms', element.id]" [state]="element" aria-label="View">
        <mat-icon>pageview</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
